#root{
  margin: 0;
}
.video-container {
  position: relative;
  height: 100vh; 
  width: 100%;
}

.video-background {
  position: fixed; /* Make it stay fixed while scrolling */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire screen */
  z-index: -1; /* Keep the video behind other content */
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  font-family: Arial, sans-serif;
}
.content-nav{
  display: flex;
  justify-content: space-around;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.685);
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
}
.content-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-list ul li {
  list-style-type: none;
}
.content-list ul li a{
  color: rgb(97, 210, 112);
}
.content-list ul  {
  display: flex;
  gap: 2vw;
  
}
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
#logo{
  color: rgb(97, 210, 112);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section-container{
  z-index: 3;
  margin-top: 30vh;
  margin-left: 15%;
  margin-right: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60vh;
}
.section{
  display: block;
  z-index: 2;
  padding: 2px;
  flex: 1;
  
}
.section h1{
  font-size: 3.4rem;
}
.section h3{
  color: rgb(97, 210, 112);
  font-size: 2rem;
}
.section p{
  font-size: 1.4rem;
}
.image-div{
  display: none;
}
.profile-img{
  display: flex;
  justify-content: center;
  flex: 1;
}
.profile-img img{
  width: 40%;
  height: auto;
  object-fit: cover;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border: solid 4px  rgb(97, 210, 112) ;
}
.about-container{

  margin-top: 10vh;
  margin-left: 15%;
  margin-right: 15%;
  padding: 10px;
  z-index: 4;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
}
.about-img{
  width: 28%;
  height: auto;
  object-fit: cover;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border: solid 4px  rgb(97, 210, 112) ;
  margin-right: 4vw;
}
.about-profile{
  display: none;
}
.about-container h1{
  text-align: center;
  font-size: 3rem;
  margin-bottom: 16vh;

}

.about-content{
  display: flex;
}


.about-text{
  justify-content: center;
  align-self: center;
}
#resume{
  padding: 10px;
  background: none;
  border-radius: 5px;
  border: solid 2px  rgb(97, 210, 112) ;
  color: rgb(97, 210, 112) ;
}
#resume:hover{
  background-color: rgb(97, 210, 112) ;
  color: black;
}
.skill-container{
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  padding: 10px;
}
.skill-container h1{
  text-align: center;
  font-size: 3rem;
  margin-bottom: 10vh;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  max-width: 800px; /* Adjust as needed */
  margin: auto;
  gap: 20px;
  text-align: center;
}
.gallery-subitems{
  border: solid 2px rgb(97, 210, 112) ;
  height: 24vh;
  justify-content: center;
  align-items: center;
  
}
@keyframes bounce {
  0%,100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-10px);
  }
  
}
.gallery-items img {
  width: 65%;
  height: auto;
  padding: 20px;
  border-radius: 1px;
  justify-self: center;
  align-self: center;
  animation: bounce 1s infinite;
}

.gallery-items p {
  font-size: 14px;
  background-color: rgb(97, 210, 112);
  padding: 10px;
  color: black;
}
.ex-container{
  justify-content: center;
  align-items: center;
  margin-top: 8vh;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 8vh;
}
.ex-container h1{
  text-align: center;
  font-size: 3rem;
}

.ex-text{
  margin-top: 2vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  line-height: 2;
}
.ex-text h2{
  font-size: 2rem;
}
.ex-text p{
  font-size: 1.2rem;
}

.ex-text ul li{
  color: white;
}
.ex-text ul li::marker{
  color: rgb(97, 210, 112);
  font-size: 1.2rem;
}
.education-container{
  margin-left: 4%;
  margin-right: 4%;
  display: flex;
  height: 60vh;
  margin-top: 4vh;
}
.edu-first{
  background-color: rgb(97, 210, 112);
  width: 50%;
  text-align: center;
  height: 60vh;
}
.edu-first h2{
  color: black;
  font-size: 2rem;
}
.edu-first svg{
  color: black;
  margin-top: 16vh;
}
.edu-second{
  background-color: blue;
  width: 50%;
  height: 60vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.edu-second h2{
  margin-top: 15vh;
}
.sub-edu{
  display: none;
}

.contact-container{
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.contact-content{
  margin-left: 2vw;
}
.contact-content svg{
  color:rgb(97, 210, 112); ;
}
.contact-address{
  display: flex;
  flex-direction: column;
  line-height: 0.1;
}
.contact-email{
  display: flex;
  gap: 12px;
  line-height: 0.1;
  margin-top: 4vh;
}
.contact-social{
  display: flex;

}
.contact-social a  {
  margin-left: 2vw;
  color: white;
  text-decoration: none;
}
.contact-social a svg {
  margin-right: 1.2vw;
}
.contact-form{
  display: flex;
  margin-right: 2vw;

}
.contact-form input{
  background-color: black;
  width: 20vw;
  height: 4vh;
  border-radius: 5px;
  border: solid 2px rgb(97, 210, 112);
  padding: 10px;
  margin-top: 2vh;
}
.contact-form input :focus{
  border: solid 2px rgb(97, 210, 112);
  border-radius: 5px;
}
.contact-form textarea{
  background-color: black;
  width: 20vw;
  height: 8vh;
  border-radius: 5px;
  border: solid 2px rgb(97, 210, 112);
  padding: 10px;
  margin-top: 2vh;
}

.contact-form button{
  background-color: rgb(97, 210, 112);
  border: none;
  padding: 10px;
  color: black;
  border-radius: 5px;
  width: 20vw;
  margin-bottom: 2vh;
}
.pro-container{
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  padding: 10px;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.pro-gallery{
  display: flex;
  flex-direction: column;
}
.pro-items{
  justify-content: center;
  align-items: center;
}
.pro-subitems{
  display: flex;
  margin-bottom: 2vh;
}
.pro-items p{
  text-align: center;
  float: left;
}
.pro-subitems img{
  width: 60%;
  border: solid 2px rgb(97, 210, 112);
}
.pro-second{
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  height: 80vh;
  border: solid 2px rgb(97, 210, 112);
  justify-content: space-between;
}
.pro-second a button {
  background-color: rgb(97, 210, 112);
  border: none;
  padding: 10px;
  width: 30vw;
  color: black;
  margin-top: auto;
  justify-content: center;
}
.pro-second button:active{
  border: none;

}
.pro-second p{
  line-height: 2.0;
  margin-top: 10vh;
  padding: 1rem;
}
.pro-third{
  display: none;
}



@media screen and (max-width: 600px) {
  .content-list ul{
   display: none; 
  }
  .content-nav{
    justify-content: flex-start;
  }
  .content-nav h1{
    font-size: 1.8rem;
    margin-left: 4vw;
  }
  .section h1{
    font-size: 1.6rem;
  }
  .section-container{
    z-index: 3;
    margin-top: 30vh;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10vh;
    height: 60vh;
    justify-content: center;
    align-items: center;
  }
  .section{
    z-index: 2;
  }
  .section h1{
    font-size: 2rem;
  }
  .section h3{
    color: rgb(97, 210, 112);
    font-size: 1.4rem;
  }
  .section p{
    font-size: 1.2rem;
  }
  .image-div{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
  .profile-img{
    display: none;
  }
  .image-div{
    justify-self: center;
  }
  .image-div img{
    width: 80%;
    border-radius: 50%;
    border: solid 4px  rgb(97, 210, 112) ;
  }
  .about-img{
    display: none;
  }
  .about-container{
    margin-top: 34vh;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2px;
    z-index: 4;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  .about-profile{
    display: flex;
    width: 60%;
    justify-self: center;
    border-radius: 50%;
    border: solid 4px rgb(97, 210, 112);
  }
  .about-container h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10vh;
  }
  .about-text p{
    font-size: 1.4rem;
  }
  .skill-container{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    padding: 4px;
  }
  .skill-container h1{
    text-align: center;
    font-size: 2rem;
    margin-top: 20vh;
    margin-bottom: 8vh;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 600px;
    margin: auto;
    gap: 20px;
    text-align: center;
  }
  .gallery-subitems{
    border: solid 2px rgb(97, 210, 112) ;
    height: 24vh;
    justify-content: center;
    align-items: center;
    
  }
  @keyframes bounce {
    0%,100%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(-10px);
    }
    
  }
  .gallery-items img {
    width: 65%;
    height: auto;
    padding: 20px;
    border-radius: 1px;
    justify-self: center;
    align-self: center;
    animation: bounce 1s infinite;
  }
  
  .gallery-items p {
    font-size: 14px;
    background-color: rgb(97, 210, 112);
    padding: 10px;
    color: black;
  }
  .ex-container{
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 8vh;
  }
  .ex-container h1{
    text-align: center;
    font-size: 2rem;
  }
  
  .ex-text{
    margin-top: 2vh;
    justify-content: center;
    align-items: center;
    padding: 4px;
    line-height: 2;
  }
  .ex-text h2{
    font-size: 1.8rem;
  }
  .ex-text p{
    font-size: 1.2rem;
  }
  .ex-text ul li{
    color: white;
    font-size: 1.2rem;
  }
  .ex-text ul li::marker{
    font-size: 1.4rem;
  }
  .education-container{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    height: 80vh;
    margin-top: 4vh;
    margin-bottom: 8vh;
  }
  .edu-first{
    background-color: rgb(97, 210, 112);
    width: 100%;
    text-align: center;
    height: 80vh;
  }
  .edu-first h2{
    color: black;
    font-size: 2rem;
  }
  .sub-edu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 0.6;
  }
  .sub-edu h2{
    font-size: 1.4rem;
  }
  .sub-edu p{
    font-size: 1rem;
    color: black;
  }
  .edu-second{
    display: none;
  }
  
.contact-container{
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px;
}
.contact-email{
  display: flex;
  gap: 10px;
  line-height: 0.1;
  margin-top: 4vh;
}
.contact-form{
  display: flex;
  margin-right: 0vw;
}
.contact-form input{
  width: 80vw;
  border-radius: 8px;
}
.contact-form input :focus{
  border: solid 2px rgb(97, 210, 112);
  border-radius: 8px;
}
.contact-form textarea{
  width: 80vw;
  border-radius: 8px;
}

.contact-form button{
  padding: 14px;
  border-radius: 8px;
  width: 85vw;
}
.pro-container{
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.pro-gallery{
  display: flex;
  flex-direction: column;
}
.pro-items{
  justify-content: center;
  align-items: center;
}
.pro-subitems{
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
  width: 80vw;
}

.pro-subitems img{
  width: 90%;
  border: solid 2px rgb(97, 210, 112);
}
.pro-second{
  display: none;
}
  .pro-third{
    display: flex;
    width: 73vw;
    flex-direction: column;
    background-color: rgb(63, 82, 65);
  }
  .pro-third p{
    line-height: 1.4;
    font-size: 0.8rem;
  }
  .pro-third button{
    background-color: rgb(97, 210, 112);
    border: none;
    color: black;
    text-align: center;
    width: 73vw;
    padding: 4px;
  }


}
